@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700;800&display=swap');

.login_bg {
  display: flex;
  width: 100%;
  background: url(../../assets/images/login_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

}

.login_left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_logo h2 {
  font-size: 38px;
  line-height: 20;
  color: #ffffff;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.login_wrapper {
  width: 50%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 30px 30px 30px 0;
}

.login_box {
  width: 100%;
  height: 100%;
  padding: 50px 50px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.login_top {
  margin-bottom: 25px;
}

.login_top h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #1B1B1B;
}

.login_top p {
  font-family: 'Source Sans 3';
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #8F97A7;
  margin-top: 5px;
}

.login_input {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.input_feild {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #D5DEEA;
  height: 55px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #1B1B1B;
  transition: all 0.3s ease-in;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
}
.input_feild::-webkit-outer-spin-button,
.input_feild::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

.input_feild:focus {
  background-color: #F4F4F4;
  border: 1px solid #F4F4F4;
}

.login_label {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #989898;
}

.login_question {
  display: flex;
  justify-content: flex-end;
}

.login_question p {
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  color: #757575;
}

.login_question a {
  color: var(--main-color)
}

.login_btn_wrapper {
  margin: 33px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_button {
  width: 100%;
  height: 55PX;
}

.login_qstn_link {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.login_qstn_link {
  color: #0063db;
}

.social_login {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.social_login p {
  text-align: center;
}

.social_btn_wrapper {
  display: flex;
  margin: 34px -6.5px;
}

.social_btn_wrapper button {
  width: calc(50% - 6.5px);
  margin: 6.5px;
  height: 52px;
  background-color: #ffffff;
  border: 1px solid #D5DEEA;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.social_btn_wrapper img {
  margin-right: 15px;
}
.social_btn_wrapper button>span {
  margin-right: 15px;
  color: #0063db;
  font-size: 20px;
}

.error_page {
  width: 100%;
  min-height: 100vh;
  background-color: #1d233f;
}

.not_found_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.not_found_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not_found_list h1 {
  font-size: 124px;
  color: var(--main-color);
  font-weight: 700;
  font-family: var(--font-family);
  line-height: 1;
  margin-bottom: 0;
}

.not_found_list h5 {
  font-size: 34px;
  color: #ffffff;
  font-weight: 500;
  font-family: var(--font-family);
  line-height: 1;
  margin-bottom: 10px;
}

.not_found_list p {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: var(--font-family);
  line-height: 1;
  margin-bottom: 20px;
}

.login_right_container {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 20px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login_logo {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
}

.register_link a {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  transition: all 0.4s ease-in;
}

.register_link a:hover {
  color: #0063db;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.register_link {
  display: flex;
  justify-content: center;
}

.login_footer {
  display: flex;
  justify-content: space-between;
  margin: 0 30px 20px;
}

.login_footer_item p,
.login_footer_item a {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  color: #BCBCBC;

}

.password_toggle {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password_toggle span {
  font-size: 22px;
}

@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    .password_toggle {
      display: none;
    }
  }
}

.input_relative {
  position: relative;
}

.verification_top {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.login_question {
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  color: #757575;
}
.verify_paswd{
  margin-top: 2vh;
}

.profile_doc_section {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.doc_section_one {
  width: 50%;
  display: flex;
  gap: 16px;
}

.doc_section_two {
  width: 50%;
  display: flex;
  gap: 16px;
}

.doc_section_img {
  border-radius: 10px;
  border: 0.5px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 116px;
  height: 116px;
}

.doc_section_img img {
  border-radius: 4px;
  width: 105px;
  height: 105px;
}

.doc_section_title {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 3px;
  color: #51c04f;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.doc_section_desc {
  color: #b7b7b7;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.doc_title {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 3px;
  color: #f4c046;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.doc_section_reject {
  width: 15%;
  padding: 5px;
  border-radius: 10px;
  border: 0.5px solid #dadada;
  background: #fff;
}

.reject_title {
  color: #c61414;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.verifying_title {
  color: #f4c046;
}

.verify_title {
  color: #51c04f;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

@media (max-width:1600px) {
  .login_logo {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .login_top {
    margin-bottom: 20px;
  }

  .login_top h2 {
    font-size: 34px;
    line-height: 40px;
  }

  .login_top p {
    font-size: 16px;
    line-height: 18px;
  }

  .login_btn_wrapper {
    margin: 28px 0 17px;
  }

  .main_button {
    height: 50PX;
  }

  .input_feild {
    height: 50px;
  }

  .login_label {
    margin-bottom: 8px;
  }

}

  @media (max-width:1440px) {
    .login_box {
      padding: 40px 40px 25px;
    }

    /* .login_logo {
      width: 175px;
      margin-top: 0;
    } */

    .login_top h2 {
      font-size: 34px;
      line-height: 40px;
    }

    .login_input {
      margin-bottom: 10px;
    }
    

  }

  @media (max-width:1400px) {
    .login_top h2 {
      font-size: 30px;
      line-height: 36px;
    }

    .login_input {
      margin: 5px 0;
    }

    .input_feild {
      height: 45px;
      font-size: 13px;
    }

    .login_qstn_link {
      font-size: 13px;
      line-height: 15px;
    }

    .login_input label {
      font-size: 13px;
      line-height: 15px;
    }

    .login_label {
      font-size: 13px;
      line-height: 15px;
    }


    .main_button {
      height: 45px;
      font-size: 13px;
    }

    .login_top {
      margin-bottom: 13px;
    }

    .login_top p {
      font-size: 15px;
      line-height: 17px;
    }

    .login_box {
      padding: 25px 25px 20px;
    }

    .login_logo {
      width: 165px;
      margin-bottom: 8px;
    }

    .not_found_list h1 {
      font-size: 100px;
    }

    .not_found_list h5 {
      font-size: 30px;
      color: #ffffff;
      font-weight: 500;
      font-family: var(--font-family);
      line-height: 1;
      margin-bottom: 8px;
    }

    .not_found_list p {
      font-size: 13px;
      margin-bottom: 15px;
    }
    .login_btn_wrapper {
      margin: 20px 0 12px;
  }

  }

  @media (max-width:1280px) {}

  @media (max-width:991px) {
    .login_wrapper {
      width: 60%;
    }

    .login_left {
      width: 40%;
    }

  }

  @media (max-width:820px) {
    .login_wrapper {
      width: 63%;
    }

    .login_left {
      width: 37%;
    }
  }

  @media (max-width:768px) {
    .login_wrapper {
      width: calc(100% - 50px);
      padding-right: 0;
    }

    .login_left {
      display: none;
    }

    .login_bg {
      justify-content: center;
    }

    .login_top h2 {
      font-size: 28px;
      line-height: 34px;
    }
  }

  @media (max-width:520px) {
    .login_box {
      padding: 20px 20px 15px;
    }

    .login_wrapper {
      width: calc(100% - 40px);
      padding: 20px 0 20px;
    }

    .login_footer {
      margin: 0 20px 15px;
    }

    .login_footer {
      flex-direction: column;
    }

    .login_top h2 {
      font-size: 26px;
      line-height: 32px;
    }

  }

  @media (max-width:425px) {}